extends index

block books-content
  tbody
    tr
      td
        a(href="/book/detail?id=id") Harry Potter and the Philosopher's Stone
      td J.K. Rowling
      td Fantasy
      td 1997
    tr
      td
        a(href="/book/detail?id=id") Harry Potter and the Chamber of Secrets
      td J.K. Rowling
      td Fantasy
      td 1998
    tr
      td
        a(href="/book/detail?id=id") Harry Potter and the Prisoner of Azkaban
      td J.K. Rowling
      td Fantasy
      td 1999
