extends ../layout

block content
  p.
    #[strong Book Title:] #[span= book_title]
  p.
    #[strong Loaned By:] #[span= patron_name]
  p.
    #[strong Loaned On:] #[span= loaned_on]
  p.
    #[strong Return By:] #[span= return_by]
  form(action=`/books/return/${id}` method="post")
    p
      label(for="returned_on") Returned on:
      input(id="returned_on" type="text" value=`${now}` name="returned_on")
    p
      input(type="submit" value="Return Book")
