doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Library Manager
    link(rel="stylesheet" href="../stylesheets/style.css")
  include includes/nav-bar
  body
    h1 Title
    block content
