extends table

block loans-table-content
  tbody
    tr
      td
        a(href="/books/details") Emma
      td
        a(href="/patrons/details") Dave McFarland
      td 2015-12-10
      td 2020-10-20
      td
      td
        a(href="/books/return" class="button") Return Book
    tr
      td
        a(href="/books/details") The Martian
      td
        a(href="/patrons/details") Michael Poley
      td 2015-12-13
      td 2015-12-20
      td 2015-12-17
      td
