extends table

block loans-table-content
  tbody
    tr
      td
        a(href="/books/details") Emma
      td
        a(href="/patrons/details") Dave McFarland
      td 2015-12-10
      td 2020-10-20
      td
      td
        a(href="/books/return" class="button") Return Book
    tr
      td
        a(href="/books/details") Harry Potter and the Goblet of Fire
      td
        a(href="/patrons/details") Andrew Chalkley
      td 2015-12-11
      td 2015-12-18
      td
      td
        a(href="/books/return" class="button") Return Book
    tr
      td
        a(href="/books/details") A Brief History of Time
      td
        a(href="/patrons/details") Andrew Chalkley
      td 2015-12-12
      td 2015-12-19
      td
      td
        a(href="/books/return" class="button") Return Book
    tr
      td
        a(href="/books/details") The Universe in a Nutshell
      td
        a(href="/patrons/details") Alena Holligan
      td 2015-12-13
      td 2015-12-20
      td
      td
        a(href="/books/return" class="button") Return Book
