extends ../layout

block content
  p
    p
      a(href="/loans/new" class="button") Create New Loan
    p Filters
      a(href="/loans/all")  All
      span  |
      a(href="/loans/overdue")  Overdue
      span  |
      a(href="/loans/checked_out")  Checked Out
  table
    thead
      tr
        th Book
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
      block loan-list
