extends index

block loans-header
  p
    a(href="new_loan" className="button") Create New Loan
  p Filters
    a(href="all_loans") All
    |
    a(href="overdue_loans") Overdue
    |
    a(href="checked_loans") Checked Out
  table
    thead
      tr
        th Book
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
