extends index

block patron-table
  form
    p
      label(for="first_name") First Name
      input(id="first_name" type="text" value="Andrew")
    p
      label(for="last_name") Last Name
      input(id="last_name" type="text" value="Chalkley")
    p
      label(for="address")  Address
      input(id="address" type="text" value="1234 NE 20st St")
    p
      label(for="email") Email
      input(id="email" type="text" value="andrew.chalkley@teamtreehouse.com")
    p
      label(for="library_id") Library ID
      input(id="library_id" type="text" value="MCL1001")
    p
      label(for="zip_code") Zip Code
      input(id="zip_code" type="text" value="90210")
    p
      input(type="submit" value="Update")
  block patron-loans
